body {
    background-color: #333;
}

img {
    margin: 0;
    width: auto;
    max-height: 100vh;
}

.photo {
    margin: auto;   
    padding: 0px;
    text-align: center;
}

.about {
    width: 50%;
    background-color: #333;
    padding: 0px;
    align-items: center;
}

.content {
    margin-top: 60%;
}

h1 {
    font-family: 'Homemade Apple', cursive;
    padding: 40px 0px;
    text-align: center;
    color: white;
    font-size: 80px;
}

ul {
    width: 50%;
    font-family: 'Arimo', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.links {
    color: white;
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
    /* display: flex; */
    justify-content: space-between;
}
li {
    padding: 15px;
    font-size: 20px;
}
li a {
    color: grey;
    display: inline-flex;
}

li a:hover {
    color: grey;
}